<!DOCTYPE html>
<html>
<head>
	<title>Command Line</title>
</head>

<body>
	<h2>Command Line</h2>
	<div class='list'>
		<ol>
			<li><a href="/cp">CP</a></li>
			<li><a href="/ls">LS</a></li>
			<li><a href="/mkdir">MKDIR</a></li>
			<li><a href="/touch">TOUCH</a></li>
			<li><a href="/mv">MV</a></li>
		</ol>
	</div>
</body>

</html>