<html>
<head>
    <title>Cheatsheet</title>
    <link rel='stylesheet' type='text/css' href='/stylesheet/style.css'>
</head>
<body>
<h1>Man Pages Cheatsheet</h1>
<%= yield %>
</body>
<footer>
		<nav class="nav">
			<a href='/'>Main Menu</a>
			<a href='/command_line'>Command Line Menu</a>
			<a href='/search'>Search</a>
		</nav>
</footer>
</html>
