<!DOCTYPE html>
<html>
<head>
	<title>Command Line Menu</title>
</head>

<body>
	<h2>Menu</h2>
	<div class="list">
		<ol>
			<li><a href="/command_line">Command Line</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="http://google.com" target='_blank'>Google</a></li>
		</ol>
	</div>
</body>

</html>